* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
}

header {
  background: #FFF4EF;
}

.container-70 {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.container-50 {
  height: 100%;
  width: 50%
}

.btn {
  padding: 15px;
  height: 100%;
  font-size: 16px;
  border-radius: 5px;
  border:1px solid #FF7A59;
  display: inline;
  text-decoration: none;
  background-color: #FF7A59;
  color: white;
}

/* .btn:hover {
  text-decoration: none;
} */
.top-bar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:75px;
  background:#F4F9FD;
  border-bottom: 1px solid black;
  z-index: 2;
  /* position:absolute; */
  /* margin: auto; */
}


ul#menu-left {
  list-style: none;
  display: inline-block;
  /* width: 30%; */
  float: left;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul#menu-left >li {
  display: inline-block;
  padding: 0 5px;
}


i {
  color: #33475B;
}

a {
  text-decoration: none;
  color: #33475B;
}

.fas.fa-angle-down {
  font-size: 20px;
  padding-left: 3px;
}

#menu-right {
  display: inline-block;
  /* width: 30%; */
  float: right;
  line-height: 75px;
  height: 75px;
  text-align: center;
}

.free {
  background-color: #FF7A59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:8px 15px
}

.login {
  color:#FF7A59;
  border-color: #FF7A59;
  border-radius: 5px;
  padding:8px 15px;
  border-width: thin;
}

.fas.fa-search {
  color: #00A4BD;
}
nav {
  width: 100%;
  height: 75px;
  background-color: white;
  margin-top: 80px;
  /* position: relative; */
}

ul#menu-nav {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul#menu-nav >li {
  display: inline-block;
  padding: 0 5px;
}

.logo{
  float:left;
  display: inline-block;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}
#logo-nav{
  display:inline-block;
  margin-top: auto;
  padding: 22px 0;
}

h1 {
  font-size: 48px;
  margin: 30px 0;
}

p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.jumbotron{
  position: relative;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.jumbotron::after {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.jumbotron.container-50{
  padding-top: 60px;
}


.box-1 {
  width: 100%;
  height: 1500px;
  background: #F4F9FD;
  position: relative;
}

#heading{
  margin: auto;
  width: 70%;
}

#title-box-1 {
  text-align: center;
  font-size: 42px;
  color: #33475B
}

#sub-title-box-1 {
  text-align: center;
  font-size: 18px;
  color: #33475B
}


.cube{
  text-align:center;
  display: block;
  margin: auto;
}

.container-largo {
  width: 80%;
  height: 350px;
  background: white;
  margin: auto;
  padding: 60px;
  border-radius: 8px;
}

.crm-left{
  width: 30%;
  float: left;
}

#img-crm {
  width: 150px;
  height: 100px;

}

#learn-more {

  margin: 30px;
}

.crm-right{
  width: 68%;
  float: right;
  display: inline-block;
  color: #33475B
}


#crm-list {
  list-style: none;
}

#crm-list li{
  padding: 0 10px;
  line-height: 79px;
  height: 100%;
  display: inline-block;

}

main::after{
  content: "";
  display: table;
  clear:both;
}

.container-hub {
  width: 80%;
  margin: auto;
}

.hub1 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin-top: 50px;
}

.hub2 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin: 0 2%;
  margin-top: 50px;
}

.hub3 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin-top: 50px;
} */


.box-2 {
  width: 100%;
  height: 300px;
  background: darkorange;
}

.box-3 {
  width: 100%;
  height: 350px;
  background: blue;
}

footer {
  width: 100%;
  height: 300px;
  background: green;

}
