* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
}

header {
  background: #FFF4EF;
}

.container-70 {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.container-50 {
  height: 100%;
  width: 50%
}

.btn {
  padding: 15px;
  height: 100%;
  font-size: 16px;
  border-radius: 5px;
  border:1px solid #FF7A59;
  display: inline;
  text-decoration: none;
  background-color: #FF7A59;
  color: white;
}

/* bot */
.bot{
  width: 250px;
  height: 250px;
  position: fixed;
  bottom:0;
  right:0;
  border-bottom: 1px solid black;
  z-index: 2;

}

.fas.fa-comment-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 30px;
  margin-right: 10px;
}

.fas.fa-comment-alt:hover{
  cursor: pointer;
}


.container-chat{
  height: 150px;
  background: white;
  margin-right: 10px;
  border-radius: 5px;
}

#chat-text {
  padding-top: 50px;
}

.fas.fa-times {
  color: darkgrey;
  position: fixed;
  top:15;
  right:0;
  margin-right: 20px;
  font-size: 25px
}

.fas.fa-times:hover{
  cursor: default;
}

.container-chat:hover{
  cursor: pointer;
}

.circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background:#33475B;
  position: fixed;
  bottom:0;
  right:0;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.top-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: purple;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

/* header */

/* top-bar */

.top-bar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:75px;
  background:#F4F9FD;
  border-bottom: 1px solid black;
  z-index: 2;
}


ul#menu-left {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul#menu-left >li {
  display: inline-block;
  padding: 0 5px;
}

.top-left-menu {
  color:#33475B;
}

.fas.fa-chevron-down {
  color: #33475B;
}

.fas.fa-globe-europe{
  color: #33475B;
}

a {
  text-decoration: none;

}

/* top-bar */

/*  nav */

.nav-link {
  color: #33475B;
}

.fas.fa-angle-down {
  font-size: 20px;
  padding-left: 3px;
}

#menu-right {
  display: inline-block;
  /* width: 30%; */
  float: right;
  line-height: 75px;
  height: 75px;
  text-align: center;

}

.free {
  background-color: #FF7A59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:12px 15px;
  margin-left: 15px
}

.login {
  color:#FF7A59;
  border-color: #FF7A59;
  border-radius: 5px;
  padding:12px 15px;
  border-width: thin;
  margin-left: 15px;
  background:white;
}

.fas.fa-search {
  color: #00A4BD;
}
nav {
  width: 100%;
  height: 75px;
  background-color: white;
  margin-top: 80px;
  /* position: relative; */
}

ul#menu-nav {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul#menu-nav >li {
  display: inline-block;
  padding: 0 5px;
}

.logo{
  float:left;
  display: inline-block;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
}
#logo-nav{
  display:inline-block;
  margin-top: auto;
  padding: 22px 0;
}

/*  /nav */

/* jumbotron */

h1 {
  font-size: 48px;
  margin: 30px 0;
}

p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.jumbotron{
  position: relative;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.free-jumbo {
  font-size: 18px;
  background-color: #FF7A59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:20px 40px;
  margin-bottom: 30px;
}

.jumbotron::after {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.jumbotron.container-50{
  padding-top: 60px;
}

#jumbotron-cto{
  font-size: 12px;
}

/* /jumbotron */

/*  /header */

/* main */

/* box-1 */

.box-1 {
  width: 100%;
  height: 1500px;
  background: #F4F9FD;
  position: relative;
}
.box-1-link{
  color: #33475B;
}

#heading{
  margin: auto;
  width: 70%;
}

#title-box-1 {
  text-align: center;
  font-size: 38px;
  color: #33475B
}

#sub-title-box-1 {
  text-align: center;
  font-size: 16px;
  color: #33475B
}


.cube{
  width: 300px;
  height: 300px;
  text-align:center;
  display: block;
  margin:auto;
  padding-top: 60px;
}

.container-largo {
  width: 80%;
  height: 300px;
  background: white;
  margin: auto;
  padding: 60px;
  border-radius: 8px;
}

.crm-left{
  width: 30%;
  float: left;
}

#img-crm {
  width: 150px;
  height: 100px;

}

.learn-more {
  margin: 30px;
}

.crm-right{
  width: 68%;
  float: right;
  display: inline-block;
  color: #33475B
}


#crm-list {
  list-style: none;
}

#crm-list li{
  padding: 0 10px;
  line-height: 79px;
  height: 100%;
  display: inline-block;

}

.fas.fa-check-circle{
  color: #FE775A
}

main::after{
  content: "";
  display: table;
  clear:both;
}

.container-hub {
  width: 80%;
  margin: auto;
}

/* hub-1 */

.hub1 {
  width: 32%;
  float: left;
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
}

#img-marketing{
  width: 150px;
  height: 100px;
  text-align:center;
  display: block;
  margin:auto;
}

.hub-top {
  text-align:center;
  display: block;
  margin:auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #33475B;
}

.hub-top-title {
  margin: 20px 0;
}

.hub-bottom {
  text-align:center;
  display: block;
  margin:auto;
}

.hub-bottom-title {
  margin: 20px 0;
  text-transform: uppercase;
}

.hub-bottom-list {
  list-style: none;
  text-align: left;
  padding-bottom: 30px;
}

/* /hub-1 */

/* hub-2 */

.hub2 {
  width: 32%;
  float: left;
  background: white;
  margin: 0 2%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
}

/* /hub-2 */

/* hub-3 */

.hub3 {
  width: 32%;
  float: left;
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
}

/* /hub-3 */

/* box-2 */

.box-2 {
  width: 100%;
  height: 700px;
  background: #00BBA9;
}

#heading {
  width: 80%
}

#title-box-2 {
  padding: 50px 0;
  text-align: center;
  font-size: 28px;
  color: white
}

#sub-title-box-2 {
  text-align: center;
  font-size: 14px;
  color: white
}

.grid {
  width: 80%;
  margin: auto;
}

.cell {
  width: 250px;
  height: 170px;
  float: left;
  border-right: 1px solid white;
  display: inline-block;
}

.cell-top{
  width: 250px;
  height: 170px;
  float: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;

}

#cell-end {
  width: 250px;
  height: 170px;
  float: left;
  display: inline-block;
}

#cell-top-end{
  width: 250px;
  height: 170px;
  float: left;
  border-bottom: 1px solid white;
  display: inline-block;
}

.cell-img {
  text-align: center;
  display: block;
  margin:auto;
  margin-top: 20px;
}

.number {
  vertical-align: bottom;
  text-align: center;
  color: white;
  font-weight:bold;
  font-size: 50px;
  margin-bottom: 0px
}

.caption {
  text-align: center;
  color: white;
  font-size: 12px;
}

#hub-image {
  width: 140px;
  height: 40px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 10px
}

/* /box-2 */

/* box-3 */

.box-3 {
  width: 100%;
  height: 720px;
}

.container-box-3 {
  width: 80%;
  margin: auto;
  background: purple;
}

.container-top {
  width: 80%;
  background: white;
  margin: auto;
  margin-top: 60px;
}

.container-top-text {
  width: 25%;
  height: 20%;
  text-align: center;
  float: left;
}


#customer {
  font-size: 50px;
}

.img-1 {
  width:135px ;
  height: 18px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-2 {
  width:130px ;
  height: 15px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-3 {
  width:140px ;
  height: 38px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-4 {
  width:120px ;
  height: 40px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-5 {
  width:115px ;
  height: 35px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-6 {
  width:130px ;
  height: 20px;
  padding-right: 30px;
  vertical-align: middle;
}

.img-7 {
  width:90px ;
  height: 50px;
  vertical-align: middle;
  padding-right: 30px;
}

.img-8 {
  width:130px ;
  height: 30px;
  padding-right: 30px;
  vertical-align: middle;
}

.container-logos {
  float: right;
}

.container-bottom {
  position:relative;
  top: 300px;
  width: 100%;
  background: red;
}

.container-bottom-text {
  width:50%;
  position: absolute;
  float: left;
}

#container-bottom-title {
  font-size: 33px;
  margin-bottom: 30px;
}

.free-hub-bottom{
  margin: 65px 0;
}

#free-bottom {
  background-color: #FF7A59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:22px 30px;
}

#container-bottom-cto{
  font-size: 12px;
}

.woman-pic {
  position: absolute;
  float: right;
  margin-left: 750px
}

#woman {
  height: 383px;
  width: 300px;
}

/* /box-3 */

/* /main */

/* footer */

footer {
  width: 100%;
  height: 620px;
  background:#32495B;
  color: white
}

.footer-list-link {
  color:#C9D5E1;
  font-weight:normal;
}

.footer-container {
  width: 80%;
  margin: auto;
  color: white;
}

.list-1 {
  width: 24%;
  float: left;
  margin-top: 60px;
  margin-right: 1%;
}

.list-2 {
  width: 24%;
  float: left;
  margin-top: 60px;
  margin-right: 1%;
}

.list-3 {
  width: 24%;
  float: left;
  margin-top: 60px;
  margin-right: 1%;
}

.list-4 {
  width: 23%;
  float: left;
  margin-top: 60px;
}
.footer-list-title{
  margin-bottom: 30px;
  color: white;
}

.footer-list {
  list-style: none;
  line-height: 35px;
  font-weight: bold;
}


#support {
  font-size: 12px;
  font-weight: bold;
  background-color:white;
  color: #32495B;
  border-radius: 5px;
  border-color: white;
  padding:10px 15px;
}



i {
  color: white;
}

ul.icons >li {
  color: white;
  margin-top: 10px;
  list-style:none;
  display: inline-block;
  padding: 0 10px;
}

.footer-container-bottom {
  color: lightgrey;
  text-align: center;
}


ul.languages >li {
  color: white;
  list-style:none;
  display: inline-block;
  margin-top: 50px;
  padding: 0 10px;
}

.language {
  color: #CBD6E2;
}

hr {
  margin-top: 20px;
}

#logo-footer{
  display:inline-block;
  margin-top: auto;
  padding: 22px 0;
}

ul.legal {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 75px;
  height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #CBD6E2
}

ul.legal >li {
  display: inline-block;
  padding: 0 5px;
  color: #CBD6E2
}

/* /footer */
