/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: red;
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
  height: 750px;
  background: purple
}

.top-bar {
  width: 100%;
  height: 75px;
  background: lightgrey;
  /* position:absolute; */
  margin: auto;
}

ul#menu-left {
  list-style: none;
  height: 75px;
  line-height: 75px;
  display: inline-block;
}

ul#menu-left >li {
  display: inline-block;
  padding: 0 5px;
}


i {
  color: #33475B;
}

a {
  text-decoration: none;
  color: #33475B;
}

.fas.fa-angle-down {
  font-size: 20px;
  padding-left: 3px;
}

#menu-right {
  display: inline-block;
  width: 30%;
  float: right;
  line-height: 75px;
  height: 75px;
  margin-top: 10px;
  text-align: center;
}

.free {
  background-color: #FF7A59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:8px 15px
}

.login {
  color:#FF7A59;
  border-color: #FF7A59;
  border-radius: 5px;
  padding:8px 15px;
  border-width: thin;
}

.fas.fa-search {
  color: #00A4BD;
}
nav {
  width: 100%;
  height: 75px;
  background-color: grey;
  /* position: relative; */
}

.box-1 {
  width: 100%;
  height: 1500px;
  background: yellow;
  position: relative;
}

.cube{
  text-align:center;
  display: block;
  margin: auto;
}

.container-largo {
  width: 80%;
  height: 350px;
  background: white;
  margin: auto;
}

main::after{
  content: "";
  display: table;
  clear:both;
}

.container-hub {
  width: 80%;
  margin: auto;
}

.hub1 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin-top: 50px;
}

.hub2 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin: 0 2%;
  margin-top: 50px;
}

.hub3 {
  width: 32%;
  height: 700px;
  float: left;
  background: white;
  margin-top: 50px;
}


.box-2 {
  width: 100%;
  height: 300px;
  background: darkorange;
}

.box-3 {
  width: 100%;
  height: 350px;
  background: blue;
}

footer {
  width: 100%;
  height: 300px;
  background: green;

}
